.container {
  position: relative;
  width:450px;
  margin: 0 auto;
  background-color: white;
  padding-top:90px;
  height:100%;
}

.container .new-tweet  {
  display: none;
  position: relative;
  border: solid 2px #ddd;
  background-color: #eee;
  width: 390px;
  left:30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
  margin-top:10px;
}

.container .new-tweet h2 {
  left: 10px;
  top: 10px;
  margin: 10px;
}

.container .new-tweet h2::after {
  content: '';
  border-bottom: solid 1px #000;
  position: absolute;
  top: 38px;
  left: 10px;
  width: 366px;
}

.container .new-tweet form {
  padding: 10px;
}

.container .new-tweet textarea {
  display: inline-block;
  width: 366px;
  padding: 10px;
  left:10px;
}

.container .new-tweet .counter {
  position: absolute;
  right:15px;
  bottom:11px;
  font-size:75%;
  font-style:italic;
}

.container .tweet  {
  position: relative;
  border: solid 2px #ddd;
  background-color: #eee;
  width: 390px;
  left:30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 11px;
}

.container .tweet:hover  {
  border: solid 2px #4d4d4d;
}

.container .tweet header {
  position: relative;
  top: 0;
  width: 390px;
  height:76px;
}

.container .tweet header img {
  position: relative;
  width:60px;
  height:60px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  border:1px;
  margin:8px;
}

.container .tweet header h2 {
  display: inline-block;
  position: absolute;
  bottom: 18px;
  left: 75px;
  color: #526a70;
}

.container .tweet:hover header h2 {
  color:#1b3740;
}


.container .tweet header span {
  display: inline-block;
  position:absolute;
  font-size:75%;
  bottom:48px;
  right: 12px;
  font-style:italic;
  color: #8f8f8f;
  z-index:0;
}

.container .tweet:hover header span {
  color: #636363;
}

.container .tweet .content {
  background-color:white;
  padding:35px 12px 35px 12px;
  border-bottom: solid 1px #ddd;
}

.container .tweet footer {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px
}

.container .tweet footer span {
  padding-left: 12px;
  font-size:75%;
}

.container .tweet .icons {
  visibility: hidden;
  display: inline-block;
  position:absolute;
  right:12px;
}

.container .tweet:hover .icons {
  visibility: visible;
}

.container .tweet .icons i {
  height: 5px;
  width: 5px;
  color: #00a087;
}

.container .tweet .icons .fa-retweet {
  padding: 0px 15px 0px 4px;
}

.container .tweet .icons .fa-heart {
  padding: 0px 15px 0px 7px;
  height: 5px;
  width: 5px;
  color: #00a087;
}

.container .tweet .icons .fa-flag {
  padding: 0px 15px 0px 5px;
}

.container .tweet .like-counter {
  margin-left:2px;
  border:0;
  padding:0;
  text-align:center;
  font-size:60%;
}